<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd"
	default-init-method="init">
	<!-- default-init-method - jezeli bean bedzie posiadal metode init, ktora 
		nie pobiera parametrow to, metoda init bedzie traktowana jako metoda inicjalizujaca -->

	<bean id="someBean1" class="main.SomeBean" />
	<bean id="someBean2" class="main.SomeBean" />
	<bean id="someBean3" class="main.SomeBean" />

</beans>
